@charset "utf-8";
/* base Document */
body{
  margin:0; height:100%; font-family:"宋体",Arial, Helvetica, sans-serif; color:#000000; font-size:12px; line-height:22px; background:#fff;
}

a{ color:#2c2c2c; text-decoration:none;}
A:hover {color: #f09a4b; text-decoration: underline}
A:active {color: #bc2a4d; text-decoration: underline}
IMG {border: 0px}
H1 {font-size: 2em; padding-: 0px; margin: 0px 0px 0.5em; color: black; line-height: 1.5em;}
H2 {font-size: 1.5em; padding: 0px; margin: 0px 0px 0.5em; color: black; line-height: 1.5em; }
H3 {font-size: 1.2em;padding: 0px; margin: 0px 0px 0.5em; color: black; line-height: 1.5em; }
H4 {font-size: 1.15em;padding: 0px; margin: 0px 0px 0.25em; color: black; line-height: 1.3em; }
H5 {
	font-size: 1.1em;padding: 0px; margin: 0px 0px 0.25em; color: black; line-height: 1.3em; }
H6 {
    font-size: 1em;padding: 0px; margin: 0px 0px 0.25em; color: black; line-height: 1.3em;
}
P {padding: 0px; margin: 0px; }
UL{padding: 0px; margin:0px;}
UL LI {padding: 0px;  margin: 0px; list-style:outside; }
OL {padding: 0px; font-size: 1em; margin: 0px 0px 1.5em; line-height: 1.4em; }
OL LI {padding: 0px; font-size: 1em; margin: 0px 0px 0.25em 30px;}
HR {border-bottom-width: thin; border-bottom-color: black; margin: 1.5em 10px; height: 1px}
div.topic_page {color: #069}
FIELDSET { border: #eee 1px solid; padding:5px 10px; margin: 0px; }
FIELDSET LEGEND {padding:0px; font-weight: bold; font-size: 1.1em;  margin: 0px; color: #666;}
* HTML FIELDSET LEGEND { margin: 0px 0px 10px -10px}
FIELDSET UL {padding: 0px; margin: 0px 0px 1.5em; list-style-type: none}
FIELDSET UL LI {padding: 0px; margin: 0px 0px 0.5em; list-style-type: none}
input.text {border: #069 1px solid; padding:1px 3px; margin: 0px; vertical-align: middle; }
SELECT {
	border: #069 1px solid; padding:1px 3px; margin: 0px; vertical-align: middle; 
}
textAREA {
	border: #069 1px solid; padding:1px 3px;   margin: 0px; vertical-align: middle; 
}
input.text {
	font-FAMILY: Arial, sans-serif, Verdana, Tahoma, Helvetica; height: 18px; 
}
input.button {
	border: #cccccc 1px solid; padding:2px 5px; font-size:12px; background: #006699;  vertical-align: middle; cursor: pointer; color: white; height: 23px
}
input.submit {
	border: #cccccc 1px solid; padding:2px 5px;  font-size:12px; background: #006699;  vertical-align: middle;  cursor: pointer; color: white; height: 23px;
}
input.submit2 {
	background: #108ac6; color: white; border: none;  height: 23px; padding:2px 5px; 
}
input.submit3 {
	border: #cccccc 1px solid; padding:0px;  font-size: 12px; background: #108ac6;  vertical-align: middle; color: white; height: 23px; margin-top:5px;
}
input.submit4{
	font-size:12px; background: url(../images/submit_m.png) no-repeat;  color: #fff; border:none; width:35px; height:16px;
}
input.submit5{
border: #aac1de 1px solid; padding:0px;  font-size: 12px; background: #eff5fb; color: #1e5494;  vertical-align: middle; 
}
input.submit6{
border: #aac1de 1px solid; padding:0px;  font-size: 12px; background: #eff5fb; color: #1e5494;  vertical-align: middle; height: 23px; margin-top:5px;
}

FORM {
	CLEAR: both; padding: 0px; margin: 0px;
}
.row2_left {
	 float: left; width: 50px;  text-align: right; margin-right:10px; font-weight:bold; 
}
.input_style1 {
	border: #cccccc 1px solid; color: #333; width:160px; height:18px; 
}
.input_style2 {border: #cccccc 1px solid; color: #333; width:190px; height:20px; } 
.input_style3{ border: #cccccc 1px solid; color: #333; width:300px;height:20px;  }
.textarea_style1{ width:200px;  height:50px; border: #ccc 1px solid; }
.textarea_style2{ width:300px;  height:100px; border: #ccc 1px solid; }
.textarea_style3{ width:400px;  height:150px; border: #ccc 1px solid; }
.textarea_style4{ width:500px;  height:200px; border: #ccc 1px solid; }
.textarea_style5{ width:468px;  height:300px; border: #ccc 1px solid; }
.textarea_style6{ width:968px;  height:300px; border: #ccc 1px solid; }
.font_a_blue{color:black;}
.font_a_blue a{color:#069; text-decoration:none;}
.font_a_blue a:hover{color: #f09a4b; text-decoration: underline}
.floatL{float:left;}
.floatR{float:right;}
.font12{ font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}


/* head Document */
.head_top {
	DISPLAY: block; WIDTH: 100%; color: #9e9e9e; LINE-HEIGHT: 25px;HEIGHT: 25px; }
.t_right {
	text-align:right;MARGIN: 0px auto; WIDTH: 968px;}
.t_right a{ text-decoration:none; color:#108ac6}
.t_right a:hover{
	background:#108ac6; color:#fff; padding:3px 0px;}
.mainheader{
	MARGIN: 0px auto; WIDTH: 968px; }
.mainheader span {
	FLOAT: left;}
.mainheader span A {
	DISPLAY: block; WIDTH: 220px; HEIGHT: 81px}
.header_right {
	float: right; width: 671px; height: 70px; text-align: right; background:url(../images/index2011/head-bg.jpg) no-repeat; border:1px solid #f6f6f6;}
.headnav {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; background: url(../images/nav_bg.png) #71ace1 no-repeat 0px -68px; FLOAT: left; WIDTH: 968px; color: #3366ff; POSITION: relative; HEIGHT: 38px}
.headnav UL {
	PADDING-LEFT: 50px}
.headnav UL LI {
	FLOAT: left; MARGIN: 0px 7px; PADDING-TOP: 6px; TEXT-ALIGN: center; list-style:none;}
.headnav A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; PADDING-BOTTOM: 10px; WIDTH: 86px; PADDING-TOP: 1px; TEXT-DECORATION: none}
.headnav A:link {
	color: #ffffff}
.headnav A:visited {
	color: #ffffff}
.headnav A:hover {
	color: #ffffff; TEXT-DECORATION: underline}
.headnav A:active {
	color: #ffffff; TEXT-DECORATION: underline}
.headnav .current A:hover {
	TEXT-DECORATION: none}
.headnav .current A:active {
	TEXT-DECORATION: none}
	
	
.nav_right {
	right: 5px; 
	float: right; 
	line-height: 34px; 
	position: absolute; 
	top: 0px;
	_top:5px;
}
.nav_right a {
	padding:0px 0px 0px 25px; 
	font-weight: normal; 
	float: left;  
	width: auto; 
}
.nav_right form {
	float:left;
}
.nav_right  .search{
  background:url(../images/search_btn.gif) no-repeat; 
  background-position:0px 3px;
  color:#FFFFFF; 
  border:0; 
  width:45px; 
  height:24px; 
  *padding-top:5px;
  padding-top:5px\0; 
}
  
/* main Document */
.container{
  width:968px; margin:0 auto; padding:0; clear:both; background:#fff; height:100%; 
}
.container2{
  width:968px; margin:0 auto; padding:0; clear:both; background:#fff;
}
.head_bg{
  z-index:1; height:125px; float:left;
}
.headL{ width:50%;}
.headR{ width:49.9%;background-color:#68a7db}
.head_img{
  z-index:10;  position:relative; top:-125px;
}
.footer{ text-align:center; font-family:Arial; line-height:28px; padding-bottom:10px; _height:75px; _overflow:hidden;}
.footer a{ padding:0 7px;}




/*登录、注册、申请 css */
.containerfix{ 
    width:875px; 
}
#head{
	 padding:0px;height:80px; background:url(../images/header_login_bg.gif) repeat-x bottom;
	}
#head span{
	 width:250px; float:left;
	}
.top_menu{
	 width:625px; text-align:right; margin-top:20px; height:20px; float:left;
	}
.top_menu a{padding-right:15px;}
.login_copy{
	 width:875px; text-align:center; clear:both; margin:0 auto; padding-top:30px;font-size:12px; 
}	
.login_copy a{
	padding:0px 10px;
}		
.red{ color:#fe0000;}
	
/*用户登录 css */
.cont{height:300px;  margin:11% 30%; 
	}
#cont_left{
	width:margin:0 auto;   height:300px; padding:0; margin:0 ;
	}
#cont_left ul{
	 padding:0; margin:0 auto;
	}
.input_area_img{
	height:300px; width:164px; background:url(../images/login_img.gif) no-repeat; float:left;
	}
.input_area{
	background:url(../images/login_img_R.gif) no-repeat; width:348px; height:300px; float:left; margin:0; padding:0;
	}
.input_area ul li{
	list-style-type:none;
	}
.input_area4{  padding-top:130px; padding-left:70px; line-height:28px; float:left }
.login_enter{  padding-top:130px; padding-left:5px;  float:left }
.point_text{
	margin:0px 40px 0px 40px; font-size:13px;
	}
.point_text a{
	font-size:13px; color:#858585;}
#cont_right{
	width:350px;float:right;font-size:14px; color:#7a7a7a; line-height:38px; background:url(../images/tree.gif) no-repeat bottom right;
	}	
#cont_right ul{padding:0; margin:0 ;}
#cont_right ul li{ height:38px; list-style:none;}
#cont_right ul li:hover{ color:#1574bb;}

/*用户注册 css */
.body2{ background:#fff;}
.color1{color:#464747; }
.color2 {color: #1875d1}
.font_12{ font-size:12px; color:#464747; }
.font12{font-size:12px;}
.register_list_L{ width:110px; float:left; text-align:right; color:#464747;   }
.register_list_R{ width:270px; float:left; padding-left:20px;   }

/*组件讨论 css */
H3{ font-size:14px; font-weight:bold; }
.clear {
	CLEAR: both;
	}
.hr_dashed{
	border: 1px dashed #ccc; width: 100%; height: 1px; padding:0; margin:5px 0px;
}

